@{ 
    int resetValue = Convert.ToInt32(ViewData["ShowReset"]);
    string showReset = (resetValue !=  0) ? "true" : "false";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tank Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <section id="home" class="homebg">
        <div class="logo">
            <img src="~/Content/images/logo2.png" alt="Tank Library logo" />
        </div>
        <div class="container navbar-inverse navbar-fixed-top">
            <div class="navbar navbar-expand-md navbar-dark">
                <div class="navbar-brand">
                    @Html.ActionLink("Tank Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="titleimgdiv d-none d-sm-block">
            <img src="~/Content/images/tank_title_bg.jpg" alt="Tank war image" />
        </div>
        <div class="titleimgdiv d-block d-sm-none">
            <img src="~/Content/images/tank_title_sm.jpg" alt="Tank war image" />
        </div>
    </section>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tank Library</p>
        </footer>
    </div>
    <!-- The ResetData Modal -->
    <div id="ResetData" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close btn-close">&times;</span>
            @if (resetValue < 0)
            {
                <p>The records of the data have reached the maximum limitation, please click button "Reset Data" below and then retry the ADD function.</p>
            }
            else
            {
                <p>Data was successfully reset. Totally @resetValue @(resetValue > 1 ? "records" : "record") of the data @(resetValue > 1 ? "have" : "has") been removed.</p>
            }
            <div class="text-center">
                @if (resetValue < 0)
                {
                    <a class="btn btn-default btn-warning btn-lg" href="@Url.Action("ResetData", "Home")">Reset Data</a>
                }
                else
                {
                    <a class="btn btn-default btn-lg btn-close" href="">Close</a>
                }
            </div>
            @if (resetValue < 0)
            {
                <p class="warning">WARNING: After reset data, all data which is not default will be removed.</p>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper");
    <script>
        $(document).ready(() => {
            console.log("@showReset");
            if ("@showReset" === "true") {
                console.log("@resetValue");
                $("#ResetData").show();
            }
            $(".btn-close").click((e) => {
                e.preventDefault();
                $("#ResetData").hide();
            });
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/myScript.js"></script>
</body>
</html>
