@using System.Configuration
@model HandleErrorInfo

@{ 
    bool showErrorDebug = Convert.ToBoolean(ConfigurationManager.AppSettings["error.debug"]);
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>There was an error processing your request.</h2>
    </hgroup>
    @if (showErrorDebug)
    {
        @*<p>[@Model.ControllerName - @Model.ActionName]</p>*@
        <p>@Model.Exception.Message</p>
        <p>@Model.Exception.StackTrace</p>
        if (Model.Exception.InnerException != null)
        {
            <p>@Model.Exception.InnerException.Message</p>
            <p>@Model.Exception.InnerException.StackTrace</p>
        }
    }
</body>
</html>
